.TodoItem{
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 70%;
    border-radius: 5px;
    padding: 5px;
    list-style: none;
    margin: 15px 0;
    background: #282C34;
    transform: scale(1);
    transition: 0.3s transform;
}
.TodoItem:hover{
    transform: scale(1.1);

}


.TodoItem-p {
    margin: 24px 0 24px 24px;
 
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
  .TodoItem-p--complete {
    text-decoration: line-through;
  }
  
  .Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
    /* background-color: #CCC; */
  }
  
  .Icon-check {
    position: absolute;
    left: 12px;
    top: 20px;
  }
  .Icon-check--active {
    color: #4caf50;
  }
  
  .Icon-delete {
    position: absolute;
    top: -24px;
    right: 0;
  }
  .Icon-delete:hover {
    color: red;
  }
  .TodoItem--loading{
    display: none;
  }